# README.md
#get baseline T and PSA dates and values for the 270 pts 

## Table of Contents
* [Read data, clean up and get stats](#first-bullet)
* [Get the baseline T dates and values](#second-bullet)
* [Get the baseline PSA dates and values](#third-bullet)

In [38]:
import numpy as np
import pandas as pd
import sys, getopt
import csv
from datetime import datetime
import itertools

from matplotlib import pyplot
from pylab import *
import matplotlib.pyplot as plt
%matplotlib inline  
import seaborn as sns

# Read data, clean up and get stats <a class="anchor" id="first-bullet"></a>

In [39]:
df1=pd.read_excel("./data/270pts_cohort.xlsx", header=0)
list_pt=df1["person_id"].to_list()
df1.fillna('', inplace=True)
print(shape(df1))
print("")

(270, 4)

In [40]:
list(df1.columns.values)

['person_id', 'ADT_start', 'ADT_end', 'ADT_duration (days)']

In [41]:
df_tvalue=pd.read_excel("./data/pca_tresults_20210119_BP_fixed.xlsx", header=0)

df1.fillna('', inplace=True)
df1.replace(r'', np.NaN)
df1[:3]

df_tvalue.fillna('', inplace=True)
df_tvalue.replace(r'', np.NaN)

df_tvalue_grouped=df_tvalue.groupby(["person_id"]).size().reset_index(name='counts')
list_pt_ttest=df_tvalue_grouped["person_id"].to_list()
print("list of pt ids with t test results")
print(len(list_pt_ttest))

print("overlapping with t test")
overlap_list1=[x for x in list_pt if x in  list_pt_ttest]
print(len(overlap_list1))

df_psa=pd.read_csv("./data/_SELECT_g_person_id_g_psa_date_g_psa_value_FROM_dev_precisionmed_202103111416.csv", header=0) 
df_psa.fillna('', inplace=True)
df_psa.replace(r'', np.NaN)

df_psa_grouped=df_psa.groupby(["person_id"]).size().reset_index(name='counts')
list_pt_psa=df_psa_grouped["person_id"].to_list()
overlap_list2=[x for x in list_pt if x in list_pt_psa]
print("overlapping with psa test")
print(len(overlap_list2))

list of pt ids with t test results
4490
overlapping with t test
270
overlapping with psa test
268

In [42]:
df2=df_tvalue

def closest(lst, K): 
      return lst[min(range(len(lst)), key = lambda i: abs(lst[i] - K))]

In [43]:
df1[:5]

   person_id  ADT_start    ADT_end  ADT_duration (days)
0          2 2009-02-26 2009-09-15                  201
1         13 2010-06-17 2015-03-17                 1734
2         25 2013-11-01 2014-02-18                  109
3         38 2015-11-18 2016-07-18                  243
4         81 2014-04-15 2016-06-09                  786

In [44]:
list_pt

[2,
 13,
 25,
 38,
 81,
 110,
 119,
 780,
 870,
 905,
 1257,
 1503,
 1508,
 1583,
 1704,
 2061,
 2063,
 2200,
 2278,
 2605,
 2623,
 2652,
 2655,
 2660,
 3030,
 3129,
 3131,
 3155,
 3579,
 3905,
 3993,
 4056,
 4235,
 4257,
 4319,
 4595,
 4717,
 4793,
 4854,
 5021,
 5041,
 5043,
 5394,
 5561,
 5652,
 5791,
 5870,
 5873,
 5875,
 6078,
 6104,
 6268,
 6505,
 6794,
 6841,
 7236,
 7268,
 7611,
 7612,
 7798,
 7870,
 8020,
 8194,
 8272,
 8302,
 8544,
 8717,
 8758,
 9124,
 9232,
 9233,
 9474,
 9541,
 9972,
 9975,
 10124,
 10471,
 10945,
 10995,
 11482,
 11543,
 11613,
 11821,
 11859,
 11861,
 12184,
 12187,
 12208,
 12374,
 12563,
 12779,
 13170,
 13258,
 13274,
 13609,
 13613,
 13859,
 14096,
 14217,
 14221,
 14242,
 14278,
 14287,
 14486,
 14900,
 14990,
 15149,
 15174,
 15185,
 15456,
 15495,
 16175,
 16229,
 16546,
 16550,
 16558,
 16630,
 17341,
 17395,
 17559,
 17580,
 17638,
 17662,
 17709,
 17710,
 17759,
 17782,
 18303,
 18450,
 18801,
 18821,
 19068,
 19096,
 19541,
 19917,
 20015,
 20046,
 20047,
 20270,
 20556,
 20663,
 20868,
 20929,
 21003,
 21047,
 21341,
 21351,
 21448,
 21480,
 21613,
 21655,
 21656,
 21762,
 21832,
 21932,
 21938,
 22100,
 22380,
 22412,
 22483,
 22676,
 22830,
 22833,
 23256,
 23306,
 23332,
 23945,
 23979,
 24107,
 24112,
 24137,
 24143,
 24222,
 24226,
 24474,
 24562,
 24582,
 24654,
 24830,
 24877,
 25061,
 25586,
 25809,
 25830,
 25871,
 25886,
 26071,
 26366,
 26687,
 26735,
 26854,
 27180,
 27207,
 27255,
 27277,
 27656,
 27685,
 27710,
 27766,
 27945,
 27964,
 27966,
 28209,
 28413,
 28442,
 28662,
 28716,
 29029,
 29049,
 29307,
 29359,
 30528,
 30554,
 30575,
 30689,
 30816,
 30997,
 31131,
 31297,
 31413,
 31492,
 31635,
 31839,
 31921,
 32081,
 32113,
 32116,
 32230,
 32231,
 32276,
 32280,
 32660,
 33086,
 33477,
 33500,
 33586,
 33937,
 33977,
 33980,
 34207,
 34414,
 34433,
 34462,
 34494,
 34547,
 34574,
 35103,
 35115,
 35343,
 35392,
 35692,
 35779,
 35799,
 35828,
 35932,
 36062,
 36249,
 36508,
 167118,
 167358,
 178232,
 180346,
 180780,
 183255,
 185086,
 186766,
 187363,
 187900,
 189405,
 201343]

# Get the baseline T dates and values <a class="anchor" id="second-bullet"></a>

In [45]:
##get the baseline T dates and values
result_baseline_list=[]
df2=df_tvalue

for y in list_pt:
    #print(y)    
    df1_pt=df1[(df1["person_id"] == y)]
    
    if(len(df1_pt.ADT_start)==0):
        a='NaN'
        status='NaN'
        tdate='NaN'
        tvalue='NaN'
        N_t_dates='NaN'
        N_t_dates_beforeADT='NaN'
            
    #if(df1_pt.ADT_start.values.any()!=""):
    if(len(df1_pt.ADT_start)!=0):
        
        a=df1_pt['ADT_start'].to_list()[0]

        df2_pt=df2[(df2["person_id"] == y)]    
        each_pt_tdates = df2_pt['result_date'].to_list()

        ##get rid of nan
        cleaned_a=[]
        cleaned_a= [x for x in each_pt_tdates if str(x) != 'NaN']
        cleaned_aa= [x for x in cleaned_a if str(x) != 'nan']
        cleaned_aaa= [x for x in cleaned_aa if str(x) != 'NaT']
        N_t_dates=len(cleaned_aaa)

        #only keep the ones before ADT start date, including on the day
        cleaned_aaaa= [x for x in cleaned_aaa if x <=a]
        start_sorted_bin=sorted(cleaned_aaaa)
        N_t_dates_beforeADT=len(cleaned_aaaa)
    
        if(len(start_sorted_bin)==0):
            tdate='NaN' 
            tvalue="NaN"
            #status means no baseline TT avail
            status="N"
        #print(tdate)
        
        if(len(start_sorted_bin)>0):
            #apply the closet function
            #tdate=closest(start_sorted_bin,a)   
            df3_pt=df2_pt[df2_pt.result_date <=a]
            
            if not df3_pt.empty:
                tdate=df3_pt['result_date'].to_list()[-1]
                tvalue=df3_pt['test_results'].to_list()[-1]
                #status means yes there are baseline TT avail
                status="Y"

    print(y, a, tdate, tvalue, status, N_t_dates, N_t_dates_beforeADT)
    result_per_pt=[y,a,tdate,tvalue, status, N_t_dates, N_t_dates_beforeADT]
    result_baseline_list.append(result_per_pt)
    #validate

2 2009-02-26 00:00:00 2009-02-09 00:00:00 274.18 Y 82 20
13 2010-06-17 00:00:00 2009-09-18 00:00:00 23.72 Y 23 2
25 2013-11-01 00:00:00 2013-10-15 00:00:00 31.54 Y 12 1
38 2015-11-18 00:00:00 2015-11-18 00:00:00 288.37 Y 20 5
81 2014-04-15 00:00:00 2014-04-10 00:00:00 313.07 Y 12 1
110 2013-03-12 00:00:00 2013-03-12 00:00:00 28.52 Y 14 1
119 2013-07-02 00:00:00 2013-06-17 00:00:00 403.1 Y 12 2
780 2010-08-01 00:00:00 2010-03-18 00:00:00 294.68 Y 3 1
870 2017-06-14 00:00:00 2017-06-14 00:00:00 274.0 Y 10 1
905 2016-01-29 00:00:00 2015-11-25 00:00:00 20.95 Y 3 2
1257 2014-10-02 00:00:00 2014-10-02 00:00:00 234.83 Y 14 1
1503 2018-05-02 00:00:00 2018-05-02 00:00:00 148.0 Y 6 1
1508 2016-08-03 00:00:00 2016-07-20 00:00:00 757.0 Y 9 1
1583 2012-09-05 00:00:00 2012-08-22 00:00:00 238.11 Y 6 2
1704 2015-02-17 00:00:00 2015-02-17 00:00:00 0.0 Y 13 1
2061 2018-04-04 00:00:00 2018-03-02 00:00:00 187.63 Y 7 4
2063 2017-11-15 00:00:00 2016-12-20 00:00:00 349.75 Y 11 1
2200 2014-06-16 00:00:00 2014-05-21 00:00:00 127.98 Y 4 2
2278 2016-08-05 00:00:00 2016-08-01 00:00:00 367.75 Y 14 1
2605 2018-08-13 00:00:00 2018-08-13 00:00:00 749.56 Y 9 4
2623 2017-12-12 00:00:00 2017-11-28 00:00:00 679.66 Y 15 9
2652 2019-02-22 00:00:00 2019-02-22 00:00:00 393.35 Y 6 3
2655 2017-06-08 00:00:00 2017-06-08 00:00:00 278.1 Y 15 2
2660 2018-07-03 00:00:00 2018-06-19 00:00:00 540.49 Y 8 2
3030 2015-03-12 00:00:00 2015-03-02 00:00:00 181.89 Y 9 2
3129 2015-10-20 00:00:00 2015-10-08 00:00:00 70.36 Y 24 11
3131 2018-05-14 00:00:00 2018-05-14 00:00:00 5.88 Y 19 5
3155 2014-09-10 00:00:00 2014-09-10 00:00:00 10.0 Y 10 1
3579 2013-12-01 00:00:00 2012-12-06 00:00:00 1044.56 Y 40 9
3905 2014-10-01 00:00:00 2014-10-01 00:00:00 13.88 Y 7 1
3993 2018-02-01 00:00:00 2017-12-11 00:00:00 8.46 Y 8 2
4056 2012-05-31 00:00:00 2012-05-31 00:00:00 10.97 Y 3 2
4235 2011-12-13 00:00:00 2011-09-19 00:00:00 655.6 Y 3 2
4257 2013-10-16 00:00:00 2011-09-20 00:00:00 193.02 Y 26 2
4319 2011-02-03 00:00:00 2011-02-03 00:00:00 18.29 Y 23 1
4595 2014-11-26 00:00:00 2014-11-26 00:00:00 35.54 Y 11 2
4717 2010-11-12 00:00:00 2008-07-15 00:00:00 25.58 Y 38 1
4793 2010-05-17 00:00:00 2010-05-17 00:00:00 10.0 Y 5 3
4854 2014-10-13 00:00:00 2014-10-13 00:00:00 23.38 Y 35 2
5021 2013-12-05 00:00:00 2013-11-04 00:00:00 217.91 Y 17 1
5041 2011-04-11 00:00:00 2011-04-11 00:00:00 286.58 Y 12 1
5043 2018-03-20 00:00:00 2018-03-14 00:00:00 443.6 Y 6 1
5394 2014-01-07 00:00:00 2013-09-18 00:00:00 294.52 Y 36 14
5561 2018-04-13 00:00:00 2018-03-30 00:00:00 408.0 Y 4 1
5652 2018-10-11 00:00:00 2018-08-21 00:00:00 653.0 Y 11 4
5791 2019-03-06 00:00:00 2019-02-25 00:00:00 502.86 Y 7 2
5870 2017-08-11 00:00:00 2017-04-26 00:00:00 290.63 Y 14 1
5873 2010-08-05 00:00:00 2010-04-19 00:00:00 240.84 Y 5 1
5875 2017-10-19 00:00:00 2017-09-11 00:00:00 301.73 Y 4 2
6078 2015-11-18 00:00:00 2015-11-11 00:00:00 129.82 Y 20 1
6104 2011-05-09 00:00:00 2011-02-17 00:00:00 191.53 Y 10 1
6268 2019-10-23 00:00:00 2019-09-27 00:00:00 480.14 Y 5 2
6505 2015-04-01 00:00:00 2015-03-25 00:00:00 290.77 Y 14 1
6794 2019-04-04 00:00:00 2019-02-25 00:00:00 342.96 Y 3 1
6841 2011-10-03 00:00:00 2011-10-03 00:00:00 10.0 Y 6 1
7236 2016-08-19 00:00:00 2016-08-03 00:00:00 698.89 Y 24 1
7268 2018-06-25 00:00:00 2018-06-18 00:00:00 269.03 Y 8 1
7611 2015-02-17 00:00:00 2015-02-17 00:00:00 128.29 Y 34 6
7612 2015-02-09 00:00:00 2015-02-02 00:00:00 365.52 Y 37 1
7798 2014-11-18 00:00:00 2014-10-10 00:00:00 258.07 Y 45 1
7870 2015-10-01 00:00:00 2013-07-11 00:00:00 360.41 Y 5 1
8020 2018-05-23 00:00:00 2018-05-23 00:00:00 123.57 Y 20 2
8194 2012-01-09 00:00:00 2011-01-31 00:00:00 302.86 Y 14 7
8272 2016-08-05 00:00:00 2016-06-27 00:00:00 352.41 Y 18 1
8302 2013-04-03 00:00:00 2013-04-03 00:00:00 534.25 Y 22 2
8544 2018-05-07 00:00:00 2018-05-07 00:00:00 3.0 Y 4 2
8717 2017-04-21 00:00:00 2017-04-17 00:00:00 1101.67 Y 30 6
8758 2014-08-01 00:00:00 2014-07-21 00:00:00 426.17 Y 5 1
9124 2014-07-09 00:00:00 2014-04-23 00:00:00 22.19 Y 35 1
9232 2016-05-16 00:00:00 2016-04-25 00:00:00 401.43 Y 19 3
9233 2015-01-30 00:00:00 2015-01-16 00:00:00 157.83 Y 10 1
9474 2011-07-19 00:00:00 2011-06-13 00:00:00 266.31 Y 28 4
9541 2015-10-12 00:00:00 2015-09-22 00:00:00 287.33 Y 4 1
9972 2014-09-10 00:00:00 2014-09-10 00:00:00 82.93 Y 9 1
9975 2017-10-09 00:00:00 2017-10-09 00:00:00 986.5 Y 13 3
10124 2014-05-08 00:00:00 2011-11-22 00:00:00 318.56 Y 5 4
10471 2015-06-12 00:00:00 2015-06-12 00:00:00 234.52 Y 11 1
10945 2018-04-17 00:00:00 2018-04-17 00:00:00 494.82 Y 14 6
10995 2016-02-12 00:00:00 2016-02-12 00:00:00 310.95 Y 10 1
11482 2016-02-08 00:00:00 2013-05-30 00:00:00 632.59 Y 33 1
11543 2016-02-10 00:00:00 2016-02-04 00:00:00 554.08 Y 8 2
11613 2016-08-17 00:00:00 2016-08-17 00:00:00 348.74 Y 5 1
11821 2011-08-29 00:00:00 2011-08-29 00:00:00 645.78 Y 11 8
11859 2018-07-12 00:00:00 2018-07-12 00:00:00 330.0 Y 8 1
11861 2018-04-06 00:00:00 2017-08-25 00:00:00 618.0 Y 3 1
12184 2014-11-01 00:00:00 2012-10-24 00:00:00 446.88 Y 7 4
12187 2015-11-05 00:00:00 2015-07-13 00:00:00 269.74 Y 5 1
12208 2016-01-01 00:00:00 2012-05-22 00:00:00 314.97 Y 3 1
12374 2017-10-02 00:00:00 2017-10-02 00:00:00 375.0 Y 7 1
12563 2017-01-19 00:00:00 2017-01-19 00:00:00 544.89 Y 15 1
12779 2012-04-19 00:00:00 2012-03-05 00:00:00 213.37 Y 9 1
13170 2017-04-18 00:00:00 2017-04-18 00:00:00 282.2 Y 8 1
13258 2017-08-07 00:00:00 2014-09-08 00:00:00 480.84 Y 21 13
13274 2018-04-03 00:00:00 2018-04-02 00:00:00 251.0 Y 8 1
13609 2016-08-31 00:00:00 2010-04-06 00:00:00 357.95 Y 7 1
13613 2019-06-25 00:00:00 2018-12-21 00:00:00 373.0 Y 6 4
13859 2017-06-03 00:00:00 2017-05-10 00:00:00 752.62 Y 27 4
14096 2016-03-21 00:00:00 2016-03-21 00:00:00 322.18 Y 16 8
14217 2016-12-12 00:00:00 2016-12-05 00:00:00 635.48 Y 19 3
14221 2019-03-19 00:00:00 2013-12-13 00:00:00 525.6 Y 2 1
14242 2015-05-27 00:00:00 2015-05-18 00:00:00 208.11 Y 19 1
14278 2018-04-02 00:00:00 2018-04-02 00:00:00 265.22 Y 15 4
14287 2019-04-15 00:00:00 2019-04-01 00:00:00 282.69 Y 7 2
14486 2017-09-18 00:00:00 2016-03-18 00:00:00 590.68 Y 13 2
14900 2014-07-29 00:00:00 2014-07-24 00:00:00 206.47 Y 28 1
14990 2018-08-03 00:00:00 2017-11-20 00:00:00 507.6 Y 8 1
15149 2014-11-21 00:00:00 2014-09-10 00:00:00 322.93 Y 5 2
15174 2017-09-01 00:00:00 2017-09-01 00:00:00 262.42 Y 14 2
15185 2017-03-13 00:00:00 2017-03-10 00:00:00 139.69 Y 6 2
15456 2013-10-21 00:00:00 2013-10-21 00:00:00 179.26 Y 4 1
15495 2017-01-25 00:00:00 2017-01-25 00:00:00 785.74 Y 8 1
16175 2017-05-23 00:00:00 2017-05-23 00:00:00 366.2 Y 23 4
16229 2015-11-03 00:00:00 2015-07-07 00:00:00 128.71 Y 8 1
16546 2018-04-06 00:00:00 2018-04-02 00:00:00 506.77 Y 17 1
16550 2018-06-20 00:00:00 2018-06-20 00:00:00 4.33 Y 30 6
16558 2016-04-27 00:00:00 2016-04-27 00:00:00 842.82 Y 9 1
16630 2012-03-21 00:00:00 2012-03-21 00:00:00 288.08 Y 3 2
17341 2018-01-02 00:00:00 2016-01-12 00:00:00 298.27 Y 5 3
17395 2017-05-08 00:00:00 2017-05-08 00:00:00 630.15 Y 9 1
17559 2015-07-27 00:00:00 2015-07-27 00:00:00 325.42 Y 8 4
17580 2017-10-18 00:00:00 2017-10-18 00:00:00 835.94 Y 7 6
17638 2012-07-03 00:00:00 2012-04-11 00:00:00 370.65 Y 4 1
17662 2013-12-19 00:00:00 2013-12-05 00:00:00 293.88 Y 40 1
17709 2013-09-16 00:00:00 2013-09-05 00:00:00 26.97 Y 25 3
17710 2014-04-01 00:00:00 2014-03-25 00:00:00 351.14 Y 49 2
17759 2014-09-05 00:00:00 2014-08-08 00:00:00 11.71 Y 13 1
17782 2015-07-01 00:00:00 2014-07-30 00:00:00 348.5 Y 30 1
18303 2017-02-06 00:00:00 2017-01-27 00:00:00 249.58 Y 9 1
18450 2018-12-28 00:00:00 2018-12-06 00:00:00 127.22 Y 7 3
18801 2012-01-25 00:00:00 2012-01-25 00:00:00 228.91 Y 13 1
18821 2017-06-05 00:00:00 2017-06-05 00:00:00 324.62 Y 15 3
19068 2013-03-01 00:00:00 2011-09-13 00:00:00 253.82 Y 4 1
19096 2011-10-17 00:00:00 2011-08-22 00:00:00 236.57 Y 4 1
19541 2010-08-02 00:00:00 2010-08-02 00:00:00 10.0 Y 24 3
19917 2017-11-13 00:00:00 2017-11-13 00:00:00 680.48 Y 6 1
20015 2010-10-13 00:00:00 2010-04-23 00:00:00 191.55 Y 21 1
20046 2017-11-06 00:00:00 2017-11-06 00:00:00 656.3 Y 6 1
20047 2010-12-13 00:00:00 2010-12-13 00:00:00 318.39 Y 5 1
20270 2017-08-21 00:00:00 2017-06-28 00:00:00 598.0 Y 4 1
20556 2018-10-17 00:00:00 2013-07-15 00:00:00 289.08 Y 5 3
20663 2015-11-01 00:00:00 2013-12-05 00:00:00 231.67 Y 20 6
20868 2019-10-30 00:00:00 2019-10-03 00:00:00 16.09 Y 14 7
20929 2016-09-29 00:00:00 2016-08-19 00:00:00 483.16 Y 14 1

21003 2016-08-31 00:00:00 2015-06-02 00:00:00 44.41 Y 8 2
21047 2018-08-13 00:00:00 2018-08-01 00:00:00 627.44 Y 5 1
21341 2019-01-14 00:00:00 2019-01-14 00:00:00 413.86 Y 6 1
21351 2015-02-20 00:00:00 2015-02-20 00:00:00 276.7 Y 2 1
21448 2015-06-01 00:00:00 2014-04-01 00:00:00 107.87 Y 11 1
21480 2017-01-11 00:00:00 2017-01-11 00:00:00 519.53 Y 11 1
21613 2016-12-22 00:00:00 2016-12-22 00:00:00 308.11 Y 11 1
21655 2016-02-03 00:00:00 2016-01-26 00:00:00 305.08 Y 11 2
21656 2015-06-18 00:00:00 2015-06-18 00:00:00 174.39 Y 21 1
21762 2017-09-15 00:00:00 2017-01-25 00:00:00 703.61 Y 11 6
21832 2016-02-09 00:00:00 2014-07-18 00:00:00 312.57 Y 10 8
21932 2015-09-10 00:00:00 2015-08-28 00:00:00 348.46 Y 16 4
21938 2018-04-12 00:00:00 2018-04-12 00:00:00 287.0 Y 8 1
22100 2017-08-09 00:00:00 2017-08-09 00:00:00 613.53 Y 16 4
22380 2016-08-05 00:00:00 2016-07-11 00:00:00 656.17 Y 25 8
22412 2014-07-23 00:00:00 2014-07-23 00:00:00 157.87 Y 11 1
22483 2017-12-28 00:00:00 2017-12-19 00:00:00 341.56 Y 17 2
22676 2012-05-29 00:00:00 2008-01-28 00:00:00 479.0 Y 7 1
22830 2011-08-18 00:00:00 2011-08-08 00:00:00 132.06 Y 8 6
22833 2018-05-23 00:00:00 2018-05-23 00:00:00 305.17 Y 10 2
23256 2014-09-10 00:00:00 2014-09-10 00:00:00 14.61 Y 30 1
23306 2015-01-13 00:00:00 2015-01-13 00:00:00 303.29 Y 20 1
23332 2017-08-23 00:00:00 2017-08-03 00:00:00 263.44 Y 15 1
23945 2017-10-31 00:00:00 2017-09-26 00:00:00 484.0 Y 6 1
23979 2018-08-01 00:00:00 2013-07-23 00:00:00 216.76 Y 2 1
24107 2010-12-06 00:00:00 2010-12-06 00:00:00 449.88 Y 12 1
24112 2014-09-29 00:00:00 2014-09-29 00:00:00 253.76 Y 12 9
24137 2017-11-14 00:00:00 2017-11-14 00:00:00 288.0 Y 4 1
24143 2018-05-25 00:00:00 2018-04-25 00:00:00 198.0 Y 6 2
24222 2017-07-10 00:00:00 2015-06-22 00:00:00 376.17 Y 15 4
24226 2017-01-18 00:00:00 2016-12-28 00:00:00 481.41 Y 5 1
24474 2013-05-15 00:00:00 2013-05-15 00:00:00 949.15 Y 9 2
24562 2018-06-01 00:00:00 2018-05-18 00:00:00 306.48 Y 11 1
24582 2017-05-31 00:00:00 2017-05-31 00:00:00 671.5 Y 19 1
24654 2018-05-24 00:00:00 2018-03-01 00:00:00 18.65 Y 25 20
24830 2015-09-16 00:00:00 2015-09-16 00:00:00 252.35 Y 25 2
24877 2012-11-19 00:00:00 2012-11-19 00:00:00 10.0 Y 14 3
25061 2010-05-25 00:00:00 2010-04-29 00:00:00 136.51 Y 25 12
25586 2017-12-22 00:00:00 2017-12-22 00:00:00 458.0 Y 8 1
25809 2010-11-08 00:00:00 2010-11-03 00:00:00 369.49 Y 17 1
25830 2018-08-01 00:00:00 2018-08-01 00:00:00 5.74 Y 25 14
25871 2018-05-18 00:00:00 2018-05-18 00:00:00 238.69 Y 5 1
25886 2015-10-01 00:00:00 2015-09-22 00:00:00 314.18 Y 23 5
26071 2015-01-26 00:00:00 2015-01-26 00:00:00 303.14 Y 4 2
26366 2017-03-10 00:00:00 2017-03-10 00:00:00 889.6 Y 12 2
26687 2019-07-19 00:00:00 2019-07-19 00:00:00 822.85 Y 4 1
26735 2015-07-01 00:00:00 2015-01-14 00:00:00 241.34 Y 20 1
26854 2018-01-30 00:00:00 2018-01-30 00:00:00 307.0 Y 4 1
27180 2015-09-23 00:00:00 2015-05-13 00:00:00 271.76 Y 14 1
27207 2015-03-25 00:00:00 2015-03-25 00:00:00 313.66 Y 9 1
27255 2016-08-01 00:00:00 2016-07-08 00:00:00 365.32 Y 5 1
27277 2018-04-01 00:00:00 2018-02-26 00:00:00 357.62 Y 15 7
27656 2010-10-13 00:00:00 2010-10-13 00:00:00 348.21 Y 42 1
27685 2013-06-26 00:00:00 2013-06-12 00:00:00 211.91 Y 22 12
27710 2017-02-01 00:00:00 2016-04-18 00:00:00 431.59 Y 14 2
27766 2015-12-01 00:00:00 2015-11-03 00:00:00 320.99 Y 13 4
27945 2019-07-16 00:00:00 2019-07-16 00:00:00 519.0 Y 3 1
27964 2014-09-02 00:00:00 2014-08-11 00:00:00 340.58 Y 30 1
27966 2016-02-17 00:00:00 2016-01-27 00:00:00 234.22 Y 23 4
28209 2010-12-23 00:00:00 2010-06-28 00:00:00 333.57 Y 32 18
28413 2010-06-02 00:00:00 2008-12-31 00:00:00 650.12 Y 22 1
28442 2012-10-02 00:00:00 2012-07-30 00:00:00 164.38 Y 13 1
28662 2014-03-04 00:00:00 2014-03-04 00:00:00 32.38 Y 7 3
28716 2016-06-13 00:00:00 2016-05-23 00:00:00 141.72 Y 32 17
29029 2014-09-05 00:00:00 2014-08-08 00:00:00 20.8 Y 15 1
29049 2014-11-17 00:00:00 2014-06-16 00:00:00 14.41 Y 8 1
29307 2015-09-29 00:00:00 2015-09-29 00:00:00 343.08 Y 13 1
29359 2017-08-25 00:00:00 2017-08-25 00:00:00 399.92 Y 8 1
30528 2016-04-01 00:00:00 2016-03-08 00:00:00 4.33 Y 11 4
30554 2017-11-01 00:00:00 2017-10-23 00:00:00 168.39 Y 31 3
30575 2012-12-10 00:00:00 2012-11-19 00:00:00 300.64 Y 23 6
30689 2018-02-21 00:00:00 2018-02-09 00:00:00 563.0 Y 7 1
30816 2018-08-20 00:00:00 2018-08-03 00:00:00 470.41 Y 11 1
30997 2012-12-05 00:00:00 2012-07-09 00:00:00 278.41 Y 11 3
31131 2017-04-17 00:00:00 2017-04-17 00:00:00 467.13 Y 20 2
31297 2014-03-31 00:00:00 2014-03-31 00:00:00 295.78 Y 35 2
31413 2018-01-19 00:00:00 2010-08-30 00:00:00 319.9 Y 17 1
31492 2017-05-26 00:00:00 2016-12-12 00:00:00 442.75 Y 10 3
31635 2016-02-01 00:00:00 2016-01-28 00:00:00 51.5 Y 15 4
31839 2019-07-30 00:00:00 2016-09-28 00:00:00 269.53 Y 4 3
31921 2015-12-22 00:00:00 2015-02-11 00:00:00 213.14 Y 19 7
32081 2011-08-11 00:00:00 2009-09-23 00:00:00 496.22 Y 23 1
32113 2010-08-02 00:00:00 2010-06-23 00:00:00 10.29 Y 10 3
32116 2017-09-14 00:00:00 2017-09-14 00:00:00 451.0 Y 12 1
32230 2015-02-07 00:00:00 2015-01-26 00:00:00 308.45 Y 16 1
32231 2019-01-01 00:00:00 2018-12-09 00:00:00 726.08 Y 2 1
32276 2014-03-26 00:00:00 2014-03-14 00:00:00 284.96 Y 11 2
32280 2015-08-07 00:00:00 2015-08-07 00:00:00 313.54 Y 4 1
32660 2015-09-03 00:00:00 2015-08-17 00:00:00 372.16 Y 19 10
33086 2018-05-23 00:00:00 2018-05-07 00:00:00 292.48 Y 12 1
33477 2015-08-21 00:00:00 2015-08-21 00:00:00 386.87 Y 6 1
33500 2016-10-26 00:00:00 2016-10-26 00:00:00 701.1 Y 6 1
33586 2019-07-08 00:00:00 2017-12-28 00:00:00 366.0 Y 20 18
33937 2015-02-01 00:00:00 2014-12-01 00:00:00 7.48 Y 9 2
33977 2015-02-02 00:00:00 2015-02-02 00:00:00 76.73 Y 31 2
33980 2019-01-23 00:00:00 2019-01-23 00:00:00 125.23 Y 19 7
34207 2018-02-01 00:00:00 2018-02-01 00:00:00 126.0 Y 10 1
34414 2014-09-04 00:00:00 2014-08-27 00:00:00 351.91 Y 11 7
34433 2015-07-09 00:00:00 2015-07-02 00:00:00 570.3 Y 17 2
34462 2010-07-19 00:00:00 2010-07-19 00:00:00 12.26 Y 10 4
34494 2014-05-28 00:00:00 2014-05-28 00:00:00 30.1 Y 32 2
34547 2017-12-20 00:00:00 2017-12-20 00:00:00 358.0 Y 14 1
34574 2016-12-19 00:00:00 2016-12-19 00:00:00 225.21 Y 11 3
35103 2019-05-10 00:00:00 2019-05-10 00:00:00 746.76 Y 9 2
35115 2013-08-07 00:00:00 2011-12-06 00:00:00 270.63 Y 30 4
35343 2018-09-24 00:00:00 2012-10-22 00:00:00 381.01 Y 4 2
35392 2016-03-01 00:00:00 2016-02-17 00:00:00 752.02 Y 12 1
35692 2016-04-01 00:00:00 2016-02-12 00:00:00 591.85 Y 27 1
35779 2014-04-16 00:00:00 2014-03-31 00:00:00 334.69 Y 3 1
35799 2017-10-17 00:00:00 2017-10-17 00:00:00 430.69 Y 10 1
35828 2015-08-12 00:00:00 2015-07-22 00:00:00 311.4 Y 20 1
35932 2012-07-01 00:00:00 2009-02-17 00:00:00 456.12 Y 2 1
36062 2014-04-24 00:00:00 2014-04-23 00:00:00 329.71 Y 21 1
36249 2018-12-11 00:00:00 2018-12-11 00:00:00 551.62 Y 6 2
36508 2015-10-07 00:00:00 2015-09-21 00:00:00 215.33 Y 18 1
167118 2019-05-07 00:00:00 2019-04-08 00:00:00 387.87 Y 2 1
167358 2018-11-07 00:00:00 2018-11-07 00:00:00 585.8 Y 8 1
178232 2019-10-23 00:00:00 2019-10-23 00:00:00 3.0 Y 4 2
180346 2019-04-05 00:00:00 2019-03-20 00:00:00 586.49 Y 3 1
180780 2019-10-21 00:00:00 2019-10-14 00:00:00 452.43 Y 4 1
183255 2019-01-14 00:00:00 2019-01-14 00:00:00 389.0 Y 18 1
185086 2019-09-10 00:00:00 2010-03-23 00:00:00 450.5 Y 7 1
186766 2019-05-06 00:00:00 2019-05-06 00:00:00 419.58 Y 10 2
187363 2019-02-01 00:00:00 2019-02-01 00:00:00 564.01 Y 9 2
187900 2019-12-30 00:00:00 2019-09-23 00:00:00 505.91 Y 6 3
189405 2019-05-01 00:00:00 2019-04-24 00:00:00 488.07 Y 10 2
201343 2020-08-07 00:00:00 2020-07-09 00:00:00 362.0 Y 3 1

In [46]:
df_baseline=pd.DataFrame(result_baseline_list)
df_baseline.columns=(['person_id', 'inital_ADT_start_date', 'Tdate_baseline', 'Tvalue_baseline', 'Status',"N_T_dates","N_T_dates_beofreADT"])
df_baseline[:5]

,person_id,inital_ADT_start_date,Tdate_baseline,Tvalue_baseline,Status,N_T_dates,N_T_dates_beofreADT
0,2,2009-02-26,2009-02-09,274.18,Y,82,20
1,13,2010-06-17,2009-09-18,23.72,Y,23,2
2,25,2013-11-01,2013-10-15,31.54,Y,12,1
3,38,2015-11-18,2015-11-18,288.37,Y,20,5
4,81,2014-04-15,2014-04-10,313.07,Y,12,1

In [47]:
df_baseline.to_csv("./data/270pts_tbaseline.csv", encoding='utf-8', index=False)

# Get the baseline PSA dates and values <a class="anchor" id="third-bullet"></a>

In [49]:
def closest(lst, K): 
      return lst[min(range(len(lst)), key = lambda i: abs(lst[i] - K))] 
    
#psa_date=closest(start_sorted_bin,pt_dx_date)

In [53]:
# for these 270 pts, how many had psa results before ADT START dates?
#sort all psa dates; find the last before ADT start; grab the dates, and all values on that date 
values=[]
result_list=[]

for y in list_pt: 

    if y not in overlap_list2:
        count=0
        last_psa_date='NaN'
        values=['NaN']        

    if y in overlap_list2:
        df1_pt=df1[(df1["person_id"] == y)]
        df1_pt['ADT_start'] = pd.to_datetime(df1_pt['ADT_start'])
    
        if df1_pt["ADT_start"].empty:
            count=0
            last_psa_date='NaN'
            values=['NaN']        

        if not df1_pt["ADT_start"].empty:
            pt_ADTstart_date=df1_pt["ADT_start"].to_list()[0]
            df_psa_pt=df_psa[(df_psa["person_id"] == y)]
            df_psa_pt['psa_date'] = pd.to_datetime(df_psa_pt['psa_date'])
    
            df_psa_pt_before_ADTstart=df_psa_pt[(df_psa_pt.psa_date <= pt_ADTstart_date)&(df_psa_pt.psa_value.notnull())]
 
            each_pt_psa_date_before_ADTstart = df_psa_pt_before_ADTstart['psa_date'].to_list()
            sorted_each_pt_psa_before_ADTstart=sorted(each_pt_psa_date_before_ADTstart)
            count=len(sorted_each_pt_psa_before_ADTstart)
        
            if len(sorted_each_pt_psa_before_ADTstart)==0:
                last_psa_date='NaN'
                values=['NaN']
        
            if len(sorted_each_pt_psa_before_ADTstart)>0:
                last_psa_date=closest(sorted_each_pt_psa_before_ADTstart,pt_ADTstart_date)
                #pick up all values for that date
                sub_set=df_psa_pt_before_ADTstart[(df_psa_pt_before_ADTstart['psa_date']==last_psa_date)]
                
                #sort and get rid of redundancies
                each_pt_info= sorted(sub_set.psa_value.to_list())
                each_pt_dates=list(dict.fromkeys(each_pt_info))

                values=each_pt_dates
               # print(y,count,last_psa_date,values)
            
    result_per_pt=[y,pt_ADTstart_date,count,last_psa_date,values]
    result_list.append(result_per_pt)

/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/Users/yuqincai/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [54]:
df_psa_results=pd.DataFrame(result_list)
df_psa_results.columns=(['person_id', 'ADT_startdate','Number_of_PSA_dates_with_PSA_values_before_ADTstart','Last_PSA_date_before_ADTstart', 'Last_PSA_values_before_ADTstart'])

In [55]:
df_psa_results.to_csv("./data/270pts_with_PSA_dates_and_values_before_ADT_start.csv",encoding='utf-8',index=False)